# ====================== 编译生成可执行/中间文件 ======================
*.o
*.exe
*.obj
*.dll
*.a
*.lib
作业.exe
main.o

# ====================== Dev-C++ 项目缓存布局文件 ======================
*.layout
*.bak
*.dev.bak

# ====================== IDE 临时文件 ======================
# Dev-C++
*.sav
# VS Code
.vscode/
# 记事本/系统缓存
*.tmp
*.temp

# ====================== 系统隐藏垃圾文件 ======================
Thumbs.db
.DS_Store
desktop.ini

# ====================== Git 相关（不用管，自动忽略） ======================
*.gitignore.bak

# ====================== 程序生成数据（可选控制） ======================
# 如果你不想上传账单文件bill.txt，放开下面一行
# bill.txt
*.win
bill.txt
